<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.8" targetFramework="net45" />
  <package id="AngleSharp.Scripting.JavaScript" version="0.4.2" targetFramework="net45" />
  <package id="Jint" version="2.9.1" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net45" />
  <package id="OxyPlot.Core" version="2015.1.943-alpha" targetFramework="net45" />
  <package id="OxyPlot.Wpf" version="2015.1.943-alpha" targetFramework="net45" />
  <package id="Simple.Wpf.Terminal" version="1.35.0.0" targetFramework="net45" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net45" />
</packages>